<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}

    </head>
    <body>
        {{ include(':default:header.html.twig') }}
        <div class="contentBodyContainer">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
