<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Spötzer - {% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('/img/global/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/remodal/remodal.css') }}">
            <link rel="stylesheet" href="{{ asset('css/remodal/remodal-default-theme.css') }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{ include(':default:header.html.twig') }}
        <div class="contentBodyContainer">
            {% block body %}
            {% endblock %}
            <div id="footer" class="container">
                <div class="col-xs-3">
                    Spötzer
                    <br/>
                    <img class="logo" src="{{ asset('img/global/footer/logo.png') }}" alt="">
                </div>
                <div class="col-xs-3">
                    <img class="title-logo" src="{{ asset('img/global/footer/organisation.png') }}" alt="">
                    <ul>
                        <li><a href="{{ path("dashboard") }}">Accueil</a></li>
                        <li><a href="{{ path("dashboard") }}">Rechercher</a></li>
                        <li><a href="{{ path("transfer") }}">Transferer</a></li>
                        <li><a href="{{ path("account") }}">Votre compte</a></li>
                        <li><a href="{{ path("tutorial") }}">Tutoriel</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <img class="title-logo" src="{{ asset('img/global/footer/numbers.png') }}" alt="">
                    <br/>
                    {{ render(controller('AppBundle:Default:footerNumbers')) }}
                </div>
                <div class="col-xs-3">
                    Spotzer © 2017
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript">
                var searchImg = "{{ asset('img/global/placeholder-search.png') }}"
            </script>
            <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
            <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
            <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/global/popin.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/global/lastFMSearch.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/library/remodal/remodal.js') }}"></script>
        {% endblock %}

    </body>
</html>