<div class="left">
    <div class="current-hour">
        Il est...
        <br/>
        <span id="current-houre" >{{ "now"|date('H:i', "Europe/Paris") }}</span>
    </div>
    <div class="account-infos backgound-grey">
        <div class="title">
            Vos chiffres
        </div>
        <div class="plateform">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/youtube.png') }});"></div>
            <div class="number">25</div>
            <div class="text">Youtube</div>
        </div>
        <div class="plateform">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/spotify.png') }});"></div>
            <div class="number">15</div>
            <div class="text">Artistes suivis</div>
        </div>
        <div class="plateform">
            <div class="icon" style="background-image:url({{ asset('img/dashboard/soundcloud.png') }});"></div>
            <div class="number">8</div>
            <div class="text">Comptes suivis</div>
        </div>
    </div>
    <div class="discover-artist">
        {{ render(controller('AppBundle:Wikipedia:homeInfosPanel')) }}
    </div>
</div>