<header class="container">
    {% if app.user != null %}
        <form action="{{ path('search') }}" method="post" class="col-md-3 recherche-container">
            <input type="text" name="keyword" class="recherche" id="lastFMSearch">
            <input type="submit" value="" id="searchSubmitButton">
        </form>
    {% endif %}
    <a class="col-md-6 title" href="{{ path('default') }}">
        Spötzer
    </a>
    <div class="col-md-3 plateformes">
        {% if app.user != null %}
            {% if app.user.credentials.spotifyToken != null %}
                <a href="{{ path('dashboard_spotify') }}" title="Dashboard Spotify">
                    <img src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="Logo Spotify blanc" class="header-icon" id="spotify">
                </a>
            {% endif %}
            {% if app.user.credentials.deezerToken != null %}
                <a href="{{ path('dashboard_deezer') }}" title="Dashboard Deezer">
                    <img src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="Logo Deezer blanc" class="header-icon" id="deezer">
                </a>
            {% endif %}
            {% if app.user.credentials.youtubeToken %}
                <a href="{{ path('dashboard_youtube') }}" title="Dashboard Youtube">
                    <img src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="Logo Youtube blanc" class="header-icon" id="youtube">
                </a>
            {% endif %}
        {% endif %}
        <span class="header-icon" title="Last FM">
            <img src="{{ asset('img/search/lastFM-icon.png') }}" alt="Logo LastFM blanc">
        </span>
        <a href="{{ path('transfer') }}">
            <img src="{{ asset('img/global/icon-transfer.png') }}" alt="Icone transfert" title="Transfert de données">
        </a>
        <span class="header-icon" id="account" title="Votre compte">
            <img src="{{ asset('img/global/icon-account.png') }}" alt="Icone compte client">
        </span>
    </div>
</header>
<div class="popin-song">

</div>
<div class="popin">
    <div class="triangle"></div>
    <div class="inpopin">
        <a href="{{ path('account') }}">
            Mon compte
        </a>
        <br/>
        <a href="{{ path('logout') }}">
            Deconnexion
        </a>
    </div>
</div>
