<header class="container">
    <form action="{{ path('search') }}" method="post" class="col-xs-3 recherche-container">
        <input type="text" name="keyword" class="recherche">
        <input type="submit" value="">
    </form>
    <a class="col-xs-6 title" href="{{ path('homepage') }}">
        Spötzer
    </a>
    <div class="col-xs-3 plateformes">
        <img src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="">
        <img src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="">
        <img src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="">
        <img src="{{ asset('img/header/plateformes/logo_soundcloud_white.png') }}" alt="">
        <a href="{{ path('transfer') }}">
            <img src="{{ asset('img/global/icon-transfer.png') }}" alt="">
        </a>
        <a href="{{ path('account') }}">
            <img src="{{ asset('img/global/icon-account.png') }}" alt="">
        </a>
    </div>
</header>
