{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container">
        <div class="left">
            <div class="current-hour">
                Il est...
                <br/>
                <span id="current-hour" >

                </span>
            </div>
            <div class="account-infos backgound-grey">
                <div class="title">
                    Vos chiffres
                </div>
                <div class="plateform">
                    <div class="icon" style="background-image:url({{ asset('img/dashboard/youtube.png') }});"></div>
                    <div class="number">25</div>
                    <div class="text">Youtube</div>
                </div>
                <div class="plateform">
                    <div class="icon" style="background-image:url({{ asset('img/dashboard/spotify.png') }});"></div>
                    <div class="number">15</div>
                    <div class="text">Artistes suivis</div>
                </div>
                <div class="plateform">
                    <div class="icon" style="background-image:url({{ asset('img/dashboard/soundcloud.png') }});"></div>
                    <div class="number">8</div>
                    <div class="text">Comptes suivis</div>
                </div>
            </div>
            <div class="discover-artist">
                <div class="title">Découverte</div>
                <div class="image" style="background-image:url({{ asset('img/dashboard/discover-artist.jpg') }});"></div>
                <div class="name">
                    <img src="{{ asset('img/dashboard/discover-artist-wikipedia.png') }}" alt="">
                    <br/>
                    Franck Sinatra
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <a class="button">
                    Découvrir
                </a>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <script>
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var container = document.getElementById("current-hour");

        container.innerHTML = h + ":" + m;
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}
