{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container">
        {{ include('default/dashboardLeft.html.twig') }}
        {{ include('default/dashboardRight.html.twig') }}
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/dashboard/clock.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}