<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ "global.connexion"|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/welcome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/remodal/remodal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/remodal/remodal-default-theme.css') }}">
    <title>Spötzer - Bienvenue</title>
</head>
<body>
<div class="container-welcome container">
    <div class="before">
        {{ "welcome.with"|trans }}
    </div>
    <h1>Spötzer</h1>
    <h2>{{ "welcome.subtitle"|trans }}</h2>
    <div class="login-register">
        <a class="button" href="{{ path('login') }}">
            {{ "welcome.connect"|trans }}
        </a>
        <a class="button" href="{{ path('register') }}">
            {{ "welcome.register"|trans }}
        </a>
    </div>
    <div class="plateforms col-xs-10 offset-xs-1">
        <div class="col-xs-3 part">
            <img class="logo" src="{{ asset('img/welcome/plateformes/logo_deezer_white.png') }}" alt="Logo Deezer blanc">
            <div class="title">
                Deezer
            </div>
            <div class="type">
                {{ "welcome.utility.music"|trans }}
            </div>
            <div class="screenshot">
                <img src="{{ asset('img/welcome/screen/deezer.jpg') }}" alt="Capture écran Deezer">
            </div>
        </div>
        <div class="col-xs-3 part">
            <img class="logo" src="{{ asset('img/welcome/plateformes/logo_spotify_white.png') }}" alt="Logo Spotify blanc">
            <div class="title">
                Spotify
            </div>
            <div class="type">
                {{ "welcome.utility.music"|trans }}
            </div>
            <div class="screenshot">
                <img src="{{ asset('img/welcome/screen/spotify.jpg') }}" alt="Capture écran Spotify">
            </div>
        </div>
        <div class="col-xs-3 part">
            <img class="logo" src="{{ asset('img/welcome/plateformes/logo_youtube_white.png') }}" alt="Logo Youtube blanc">
            <div class="title">
                Youtube
            </div>
            <div class="type">
                {{ "welcome.utility.video"|trans }}
            </div>
            <div class="screenshot">
                <img src="{{ asset('img/welcome/screen/youtube.jpg') }}" alt="Capture écran Youtube">
            </div>
        </div>
        <div class="col-xs-3 part">
            <img class="logo" src="{{ asset('img/welcome/plateformes/logo_lastfm_white.png') }}" alt="Logo LastFM blanc">
            <div class="title">
                Last FM
            </div>
            <div class="type">
                {{ "welcome.utility.information"|trans }}
            </div>
            <div class="screenshot">
                <img src="{{ asset('img/welcome/screen/lastfm.jpg') }}" alt="Capture écran LastFM">
            </div>
        </div>
    </div>
    <div class="transfert col-xs-8 offset-xs-2">
        <div class="col-xs-12 title">
            {{ "welcome.trasnferData.title"|trans }}
        </div>
        <div class="col-xs-4 offset-xs-2">
            <img class="image" src="{{ asset('img/welcome/transfert/image.png') }}" alt="Représentation transferts Spötzer">
        </div>
        <div class="col-xs-4">
            <ul>
                <li> Spotify → Deezer</li>
                <li> Spotify → Youtube</li>
                <li> Deezer → Youtube</li>
                <li> Deezer → Spotify</li>
                <li> Youtube → Deezer</li>
                <li> Youtube → Spotify</li>
            </ul>
        </div>
        <div class="col-xs-6 offset-xs-3 details">
            <div class="triangle"></div>
            {{ "welcome.trasnferData.content"|trans }}
        </div>
    </div>
    <div class="dashboard col-xs-10 offset-xs-1">
        <div class="col-xs-12 title">
            {{ "welcome.search.title"|trans }}
        </div>
        <div class="col-xs-4 offset-xs-4 input-research">
            <input type="text" class="recherche" placeholder="{{ "welcome.search.placeholder"|trans }}">
            <input type="submit" value="">
        </div>
        <div class="col-xs-3 offset-xs-4 search-results">
            <ul>
                <li class="results">{{ "welcome.search.sample.film"|trans }}</li>
                <li class="results">{{ "welcome.search.sample.classic"|trans }}</li>
                <li class="results">{{ "welcome.search.sample.rock"|trans }}</li>
                <li class="results">{{ "welcome.search.sample.electronic"|trans }}</li>
                <li class="results">{{ "welcome.search.sample.metal"|trans }}</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
