{% extends 'base.html.twig' %}

{% block body %}
    Page de tutoriel
    <br/>
    <a href="{{ path('tutorial') }}">

    </a>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}