<div class="container-songs-list">
    <ul>
        {% for song in flow %}
            <li class="container {% if loop.index is odd %}odd{% endif %}">
                <div class="col-xs-1 actions">
                    <span title="Ajouter à une playlist" class="add-to-playlist" data-type="deezer" data-name="{{ song.title }}" data-id="{{ song.id }}">
                        +
                    </span>
                </div>
                <div class="col-xs-1 actions">
                    <span title="Ecouter la musique" class="playTrack" data-song-id="{{ song.id }}" data-platform="deezer">
                        ►
                    </span>
                </div>
                <div class="col-xs-5 song">
                    {{ song.title|truncate(15, false, '...') }}
                </div>
                <div class="col-xs-5 artist">
                    {{ song.artist.name|truncate(15, false, '...') }}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>