<div class="container-songs-images container">
    {% if topArtists|length > 0 %}
        {% for topArtist in topArtists %}
            <div class="col-xs-3">
                <div class="col-xs-12 image">
                    {% if topArtist.picture_medium is defined %}
                        <img src="{{ topArtist.picture_medium }}" alt="Image {{ topArtist.name }}">
                    {% else %}
                        <img src="{{ asset('img/dashboard/album-cover.png') }}" alt="Image {{ topArtist.name }}" width="142" height="142">
                    {% endif %}
                </div>
                <div class="col-xs-12 name">
                    {{ topArtist.name }}
                </div>
                <div class="col-xs-12 followers">
                    {{ topArtist.nb_fan }}
                    <br/>
                    fans
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>