<div class="container-songs-list">
    <ul>
        {% for track in recommendations %}
            <li class="container {% if loop.index is odd %}odd{% endif %}">
                <div class="col-xs-1 actions">
                    <span class="add-to-playlist" data-type="deezer" data-name="{{ track.name }}" data-id="{{ track.id }}">
                        +
                    </span>
                </div>
                <div class="col-xs-1 actions">
                    <span class="playTrack" data-song-id="{{ track.id }}" data-platform="deezer">
                        ►
                    </span>
                </div>
                <div class="col-xs-5 song">
                    {{ track.title|truncate(15, false, '...') }}
                </div>
                <div class="col-xs-5 artist">
                    {{ track.artist.name|truncate(15, false, '...') }}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>