{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-account">
        <div class="connexion-container">
            <div class="title">
                Vous êtes connecté aux palteformes suivantes:
            </div>
            <div class="col-xs-4 part">
                <img class="logo" src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="">
                <div class="title">
                    Spotify
                </div>
                <a class="button" href="">Se connecter</a>
            </div>
            <div class="col-xs-4 part">
                <img class="logo" src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="">
                <div class="title">
                    Deezer
                </div>
                <a class="button" href="">Se connecter</a>
            </div>
            <div class="col-xs-4 part">
                <img class="logo active" src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="">
                <div class="title">
                    Youtube
                </div>
                <a class="button disconnect" href="">Se deconnecter</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}