{% extends 'base.html.twig' %}

{% block body %}

    <?php $connected = true; ?>

    <div id="container-account">
        <div class="connect-to">
            <div class="title">
                Vous êtes connecté aux palteformes suivantes:
            </div>
            <div class="plateforms">
                <img class="active" src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="">
                <img src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="">
                <img class="active" src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="">
                <img class="active" src="{{ asset('img/header/plateformes/logo_soundcloud_white.png') }}" alt="">
            </div>
        </div>
        <div class="container-tab">
            {{ include('account/login.html.twig') }}
            {{ include('account/connexion.html.twig') }}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}