{% extends 'base.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block body %}
    <div id="container-account">
        <div class="connexion-container container">
            <div class="title">
                {{ "account.platforms.title"|trans }} :
            </div>
            <div class="col-xs-4 part">
                <img class="logo {% if spotifyConnected == true %}active{% endif %}" src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="">
                <div class="title">
                    Spotify
                </div>
                {% if spotifyConnected == true %}
                    <a class="button disconnect" href="{{ path('spotify_logout') }}">{{ "account.platforms.disconnect"|trans }}</a>
                {% else %}
                    <a class="button" href="{{ path('spotify_login') }}">{{ "account.platforms.connect"|trans }}</a>
                {% endif %}
            </div>
            <div class="col-xs-4 part">
                <img class="logo {% if deezerConnected == true %}active{% endif %}" src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="">
                <div class="title">
                    Deezer
                </div>
                {% if deezerConnected == true %}
                    <a class="button disconnect" href="{{ path('deezer_logout') }}">{{ "account.platforms.disconnect"|trans }}</a>
                {% else %}
                    <a class="button" href="{{ path('deezer_login') }}">{{ "account.platforms.connect"|trans }}</a>
                {% endif %}
            </div>
            <div class="col-xs-4 part">
                <img class="logo {% if youtubeConnected == true %}active{% endif %}" src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="">
                <div class="title">
                    Youtube
                </div>
                {% if youtubeConnected == true %}
                    <a class="button disconnect" href="{{ path('youtube_logout') }}">{{ "account.platforms.disconnect"|trans }}</a>
                {% else %}
                    <a class="button" href="{{ path('youtube_login') }}">{{ "account.platforms.connect"|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="redirect-modify col-xs-4 offset-xs-4">
            <div class="title">
                Modifier votre compte et vos préférences
            </div>
            <a href="{{ path('account_modify') }}" class="button">
                Cliquez-ici
            </a>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}