{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-account">
        <div class="connect-to">
            <div class="title">
                Vous êtes connecté aux palteformes suivantes:
            </div>
            <div class="plateforms">
                <img class="active" src="{{ asset('img/header/plateformes/logo_spotify_white.png') }}" alt="">
                <img src="{{ asset('img/header/plateformes/logo_deezer_white.png') }}" alt="">
                <img class="active" src="{{ asset('img/header/plateformes/logo_youtube_white.png') }}" alt="">
                <img class="active" src="{{ asset('img/header/plateformes/logo_soundcloud_white.png') }}" alt="">
            </div>
        </div>
        <div class="container-tab">
            <div class="thumbnails">
                <div class="item active" data-thumb="1">Spotify</div>
                <div class="item" data-thumb="2">Deezer</div>
                <div class="item" data-thumb="3">Youtube</div>
                <div class="item" data-thumb="4">Soundcloud</div>
            </div>
            <div class="content">
                <div class="content-thumb thumb-1 active">
                    <div class="title">
                        Connexion à Spotify
                    </div>
                    <form action="" method="POST">
                        <input type="text" placeholder="Identifiant...">
                        <input type="text" placeholder="Mot de passe...">
                        <input class="button" type="submit" value="Se connecter">
                    </form>
                </div>
                <div class="content-thumb thumb-2">
                    <div class="title">
                        Connexion à Deezer
                    </div>
                    <form action="" method="POST">
                        <input type="text" placeholder="Identifiant...">
                        <input type="text" placeholder="Mot de passe...">
                        <input class="button" type="submit" value="Se connecter">
                    </form>
                </div>
                <div class="content-thumb thumb-3">
                    <div class="title">
                        Connexion à Youtube
                    </div>
                    <form action="" method="POST">
                        <input type="text" placeholder="Identifiant...">
                        <input type="text" placeholder="Mot de passe...">
                        <input class="button" type="submit" value="Se connecter">
                    </form>
                </div>
                <div class="content-thumb thumb-4">
                    <div class="title">
                        Connexion à Soundcloud
                    </div>
                    <form action="" method="POST">
                        <input type="text" placeholder="Identifiant...">
                        <input type="text" placeholder="Mot de passe...">
                        <input class="button" type="submit" value="Se connecter">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}