<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ "global.connexion"|trans }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
        <title>Spötzer - Connexion</title>
    </head>
    <body>
        <div class="contentBodyContainer">
            <div id="container-account">
                <div class="header-login">
                    <span>
                        Spötzer
                    </span>
                    <br/>
                    l'interface musicale connectée
                    <br/>
                    <img src="{{ asset("img/account/logo.png") }}" alt="Logo Spötzer original">
                </div>
                <div class="col-xs-4 offset-xs-4 container-form login">
                    <div class="title">
                        {{ "login.title"|trans }}
                    </div>
                    <form action="" method="POST">
                        <input name="_username" type="text" placeholder="{{ "login.placeholder.username"|trans }}" value="{{ lastUsername }}">
                        <input name="_password" type="password" placeholder="{{ "login.placeholder.password"|trans }}">
                        <input class="button" type="submit" value="{{ "login.connect"|trans }}">
                    </form>
                    <div class="register">
                        <div class="title">
                            {{ "login.noaccount.message"|trans }}
                        </div>
                        <a class="button" href="{{ path('register') }}">
                            {{ "welcome.register"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    </body>
</html>
