<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ "global.connexion"|trans }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/remodal/remodal.css') }}">
        <link rel="stylesheet" href="{{ asset('css/remodal/remodal-default-theme.css') }}">
    </head>
    <body>
        <a href="#modal2">Modal №2</a>
        <div class="contentBodyContainer">
            <div id="container-account">
                <div class="container-tab">
                    <div class="thumbnails">
                        <div class="item active" data-thumb="1">Connexion</div>
                        <div class="item" data-thumb="2">Inscription</div>
                    </div>
                    <div class="content">
                        <div class="content-thumb thumb-1 active">
                            <div class="title">
                                Connexion
                            </div>
                            <form action="" method="POST">
                                <input name="_username" type="text" placeholder="Identifiant" value="{{ lastUsername }}">
                                <input name="_password" type="password" placeholder="Mot de passe">
                                <input class="button" type="submit" value="Se connecter">
                            </form>
                        </div>
                        {{ render(controller('AppBundle:Account:register')) }}
                    </div>
                </div>
            </div>
        </div>
        {{ include('library/remodal/popin.html.twig',{'type': 'information'}) }}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/library/remodal/remodal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/library/remodal/config.js') }}"></script>
    </body>
</html>
