{% extends 'base.html.twig' %}
{% block title %}Modification compte{% endblock %}
{% block body %}
    <div id="container-account">
        <div class="col-xs-4 offset-xs-4 container-form form-modify">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="container favorite-plateform-choice">
                <div data-value="spotify" class="col-xs-5 plateform-choice">
                    <img src="{{ asset('img/account/modify/spotify.png') }}" alt="">
                    <br/>
                    Spotify
                </div>
                <div data-value="deezer" class="col-xs-5 offset-xs-2 plateform-choice">
                    <img src="{{ asset('img/account/modify/deezer.png') }}" alt="">
                    <br/>
                    Deezer
                </div>
            </div>
            <input class="button" type="submit" value="{{ "account.personnalDatas.valid"|trans }}">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/account/select-favorite-plateform.js') }}"></script>
{% endblock %}