<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ "global.connexion"|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
    <title>Spötzer - Inscription</title>
</head>
<body>
<div class="contentBodyContainer">
    <div id="container-account">
        <div class="header-login">
                    <span>
                        Spötzer
                    </span>
            <br/>
            l'interface musicale connectée
            <br/>
            <img src="{{ asset("img/account/logo.png") }}" alt="Icone compte client">
        </div>
        <div class="col-xs-4 offset-xs-4 container-form connexion-container">
            <div class="title">
                {{ "registration.title"|trans }}
            </div>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <input class="button" type="submit" value="{{ "user.creation.validForm"|trans }}">
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
</body>
</html>
