<div class="content-thumb thumb-2">
    <div class="title">
        {{ "registration.title"|trans }}
    </div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input class="button" type="submit" value="{{ "user.creation.validForm"|trans }}">
    {{ form_end(form) }}
</div>