<div class="part-connexion container">

    {% if app.user.credentials.spotifyToken == null or app.user.credentials.deezerToken == null or app.user.credentials.youtubeToken == null %}
        <div class="col-xs-3 offset-xs-3 part">
            <img src="{{ asset('img/dashboard/index/music.png') }}" alt="">
            <br/>
            {% if app.user.credentials.spotifyToken == null and app.user.credentials.deezerToken == null %}
                Connectez vous à une plateforme musicale <br/> pour profiter du contenu audio
                <br/>
                <a class="button" href="{{ path('account') }}">
                    Se connecter
                </a>
            {% else %}
                    Découvrez tout de suite votre actualité musicale
                    <br/>
                {% if app.user.credentials.spotifyToken != null and app.user.credentials.deezerToken != null %}
                        {% if app.user.spotifyPrefered %}
                                <a class="button" href="{{ path('dashboard_spotify') }}">
                                        Mon dashboard
                                </a>
                        {% else %}
                                <a class="button" href="{{ path('dashboard_deezer') }}">
                                        Mon dashboard
                                </a>
                        {% endif %}
                {% elseif app.user.credentials.spotifyToken == null %}
                        <a class="button" href="{{ path('dashboard_deezer') }}">
                                Mon dashboard
                        </a>
                {% else %}
                        <a class="button" href="{{ path('dashboard_spotify') }}">
                                Mon dashboard
                        </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-xs-3 part">
                <img src="{{ asset('img/dashboard/index/video.png') }}" alt="">
                <br/>
                {% if app.user.credentials.youtubeToken == null %}
                        Connectez vous à youtube <br/> pour profiter du contenu vidéo
                        <br/>
                        <a class="button" href="{{ path('account') }}">
                            Se connecter
                        </a>
                {% else %}
                        Découvrez tout de suite votre actualité youtube
                        <br/>
                        <a class="button" href="{{ path('dashboard_youtube') }}">
                            Mon dashboard
                        </a>
                {% endif %}
        </div>
    {% else %}
        <div class="col-xs-2 offset-xs-4">
            <img src="{{ asset('img/dashboard/index/music.png') }}" alt="">
            <br/>
            Découvrez tout de suite votre actualité musicale
            <br/>
            {% if app.user.spotifyPrefered %}
                <a class="button" href="{{ path('dashboard_spotify') }}">
                    Mon dashboard
                </a>
            {% else %}
                <a class="button" href="{{ path('dashboard_deezer') }}">
                    Mon dashboard
                </a>
            {% endif %}
        </div>
        <div class="col-xs-2 offset-xs-4">
            <img src="{{ asset('img/dashboard/index/video.png') }}" alt="">
            <br/>
            Découvrez tout de suite votre actualité youtube
            <br/>
            <a class="button" href="{{ path('dashboard_youtube') }}">
                Mon dashboard
            </a>
        </div>
    {% endif %}
</div>