<div class="container-songs-list">
    <ul>
        {% if topTracks|length > 0 %}
            {% for topTrack in topTracks.items %}
                <li class="container {% if loop.index is divisibleby(2) %}odd{% endif %}">
                    <div class="col-xs-1 actions">
                        <span class="add-to-playlist" data-type="spotify" data-name="{{ topTrack.name }}" data-id="{{ topTrack.id }}">
                            +
                        </span>
                    </div>
                    <div class="col-xs-1 actions">
                        <span class="playTrack" data-song-id="{{ topTrack.id }}" data-platform="spotify">
                            ►
                        </span>
                    </div>
                    <div class="col-xs-5 song">
                        {{ topTrack.name|truncate(15, false, '...') }}
                    </div>
                    <div class="col-xs-5 artist">
                        {{ topTrack.artists[0].name|truncate(15, false, '...') }}
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>