<div class="container-followers container">
    <div class="title">
        {{ "dashboard.youtube.channels.channelsList"|trans }}
    </div>
    <ul>
        {% if myChannels != false %}
            {% for channel in myChannels %}
                <li class="container">
                    <a href="https://www.youtube.com/channel/{{ channel.snippet.resourceId.channelId }}">
                        <div class="col-xs-2 image">
                            <img src="{{ channel.snippet.thumbnails.default.url }}" alt="{{ channel.snippet.title }}">
                        </div>
                        <div class="col-xs-7 name">
                            {{ channel.snippet.title }}
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li class="container">
                <a href="https://www.youtube.com/channel/">
                    <div class="col-xs-2 image">
                        <img src="#" alt="">
                    </div>
                    <div class="col-xs-7 name">

                    </div>
                </a>
            </li>
        {% endif %}
    </ul>
</div>