{% if items != false %}
    {% for item in items %}
        {% if item['items'] != [] %}
            <div class="col-xs-12 horizontal-part">
                {% set newArray = [] %}
                {% for playlist in item %}
                    {% if playlist.snippet.playlistId not in newArray %}
                        {% for key, title in titles %}
                            {% if playlist.snippet.playlistId == key %}
                                <div class="title col-xs-12">
                                    {{ title }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% set newArray = newArray|merge([playlist.snippet.playlistId]) %}
                    {% endif %}
                {% endfor %}
                <div class="container container-videos">
                    {% for playlist in item %}
                        <div class="parts">
                            <div class="image col-xs-12">
                                <img src="{{ playlist.snippet.thumbnails.default.url }}" alt="Apercu vidéo youtube {{ playlist.snippet.title[:18] }}">
                            </div>
                            <div class="name col-xs-12">
                                {{ playlist.snippet.title[:18] }}
                            </div>
                            <button class="button video-link-popin"
                                    data-link="{{ playlist.snippet.resourceId.videoId }}">
                                Voir la vidéo
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}



