{% extends 'base.html.twig' %}
{% block title %}Deezer{% endblock %}
{% block body %}
    <div id="main-container" class="container-dashboard-spotify container">
        {% if connected != false %}
            <div class="col-xs-2">
                <div class="logo-sidebar">
                    <img src="{{ asset('img/logo/deezer.png') }}" alt="">
                </div>
                <div class="container-followers container">
                    <div class="title">
                        {{ "dashboard.deezer.followers.titleFollow"|trans }}
                    </div>
                    <ul>
                        {{ render(controller('AppBundle:Deezer:getMyFollowed')) }}
                    </ul>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-12">
                    <div class="horizontal-part col-xs-5">
                        <div class="title">
                            {{ "dashboard.deezer.infos.title.lastSongs"|trans }}
                        </div>
                        <div>
                            {{ render(controller('AppBundle:Deezer:getMyFlow')) }}
                        </div>
                    </div>
                    <div class="horizontal-part col-xs-5 offset-xs-2">
                        <div class="title">
                            {{ "dashboard.deezer.followers.titleRecommendations"|trans }}
                        </div>
                        <div>
                            {{ render(controller('AppBundle:Deezer:getRecommendations')) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 horizontal-part">
                    <div class="title col-xs-12">
                        {{ "dashboard.deezer.titleCreatePlaylist"|trans }}
                    </div>
                    {{ render(controller('AppBundle:Deezer:createPlaylist')) }}
                </div>
                <div class="col-xs-12 horizontal-part">
                    <div class="title">
                        {{ "dashboard.deezer.infos.title.artists"|trans }}
                    </div>
                    <div>
                        {{ render(controller('AppBundle:Deezer:getMyTopArtists')) }}
                    </div>
                </div>
                <div class="col-xs-12 horizontal-part">
                    <div class="title">
                        {{ "dashboard.deezer.infos.title.albums"|trans }}
                    </div>
                    <div>
                        {{ render(controller('AppBundle:Deezer:getMySavedAlbums')) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-2 container-playlists">
                <div class="title">
                    {{ "dashboard.deezer.playlists.title"|trans }}
                </div>
                <span class="custom-dropdown custom-dropdown--white">
                    <select class="type-list-start custom-dropdown__select custom-dropdown__select--white list-playlist">
                        {{ render(controller('AppBundle:Deezer:getPlaylists')) }}
                    </select>
                </span>
                <ul class="tracks-from-playlist">
                </ul>
            </div>
        {% else %}
            <div class="no-connect-message">
                Vous n'êtes pas connecté à Deezer
                <br/>
                <a href="{{ path('account') }}" class="button">
                    {{ "account.platforms.connect"|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard/deezer.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard/spotifya.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var urlGetSong = '{{ path('search_track') }}';
        var urlSongsFromPlaylist = '{{ path('deezer_get_songs_playlist') }}';
    </script>
    <script type="text/javascript" src="{{ asset('js/global/playTrack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dashboard/getPlaylists.js') }}"></script>
{% endblock %}