{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container">

        {% if app.session.get('access_token') is defined and app.session.get('access_token') is not null %}
            {{ render(controller('AppBundle:Youtube:getPlaylist')) }}
        {% else %}
            {{ include('default/dashboardNumber.html.twig')  }}
        {% endif %}

        {{ include('dashboard/indexTop.html.twig') }}

    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}