{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container">
        {{ include('dashboard/parts/connexions.html.twig') }}
        {{ include('dashboard/parts/transfer.html.twig') }}
        {{ include('dashboard/parts/discover.html.twig') }}
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}