{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container" class="container-dashboard-youtube container">
        <div class="col-xs-2">
            <div class="container-followers container">
                <div class="title">
                    {{ "dashboard.youtube.followers.titleFollow"|trans }}
                </div>
                <ul>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container-followers container">
                <div class="title">
                    {{ "dashboard.youtube.followers.titleFollowers"|trans }}
                </div>
                <ul>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="col-xs-12">
                Vidéos proposées
            </div>
            <div class="col-xs-12">
                Meilleurs vidéos par vues / like
            </div>
            <div class="col-xs-12">
                Création playlist
            </div>
            <div class="col-xs-12">
                Playlist 1
            </div>
            <div class="col-xs-12">
                Playlist 2
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard/youtube.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}