{% extends 'base.html.twig' %}
{% block title %}Youtube{% endblock %}
{% block body %}
    <div id="main-container" class="container-dashboard-youtube container">
        {% if app.user.credentials.youtubeToken != null %}
            <div class="col-xs-2">
                <div class="logo-sidebar">
                    <img src="{{ asset('img/logo/youtube.png') }}" alt="">
                </div>
                {{ render(controller('AppBundle:Youtube:getMyChannels')) }}
            </div>
            <div class="col-xs-10">
                {{ render(controller('AppBundle:Youtube:getRecommendationVideo')) }}
                <div class="col-xs-12 horizontal-part">
                    <div class="title col-xs-12">
                        {{ "dashboard.youtube.videos.titleBestVideo"|trans }}
                    </div>
                        {{ render(controller('AppBundle:Youtube:getVideoByLike')) }}
                </div>
                <div class="col-xs-12 horizontal-part">
                    <div class="title col-xs-12">
                        {{ "dashboard.youtube.videos.titleCreatePlaylist"|trans }}
                    </div>
                    {{ render(controller('AppBundle:Youtube:createPlaylist')) }}
                </div>
                    {{ render(controller('AppBundle:Youtube:getPlaylistItems')) }}
            </div>
            <div class="overlay-youtube">
        <div class="close button">
            Fermer
        </div>
        <div class="video">
            <iframe width="420" height="315" id="video-popin" src="">
            </iframe>
        </div>
    </div>
        {% else %}
            <div class="no-connect-message">
                Vous n'êtes pas connecté à Youtube
                <br/>
                <a href="{{ path('account') }}" class="button">
                    Se connecter
                </a>
            </div>
        {% endif %}
    </div>

    <div class="overlay-youtube">
        <div class="close button video-link-popin">
            Fermer
        </div>
        <div class="video" id="overlay-video">
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard/youtube.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/overlay/popinyoutube.js') }}"></script>
{% endblock %}