{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container" class="container-dashboard-youtube container">
        <div class="col-xs-2">
            <div class="logo-sidebar">
                <img src="{{ asset('img/logo/youtube.png') }}" alt="">
            </div>
            <div class="container-followers container">
                <div class="title">
                    {{ "dashboard.youtube.followers.titleFollow"|trans }}
                </div>
                <ul>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container-followers container">
                <div class="title">
                    {{ "dashboard.youtube.followers.titleFollowers"|trans }}
                </div>
                <ul>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                    <li class="container">
                        <div class="col-xs-2 image">
                            <img src="{{ asset('img/dashboard/profile-icon.png') }}" alt="">
                        </div>
                        <div class="col-xs-7 name">
                            Follower name
                        </div>
                        <div class="col-xs-3 link">
                            <a href="#">Voir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="col-xs-12 horizontal-part">
                <div class="title col-xs-12">
                    {{ "dashboard.youtube.videos.titleRecommandation"|trans }}
                </div>
                <div class="container container-videos">
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 horizontal-part">
                <div class="title col-xs-12">
                    {{ "dashboard.youtube.videos.titleBestVideo"|trans }}
                </div>
                <div class="container container-videos">
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 horizontal-part">
                <div class="title col-xs-12">
                    {{ "dashboard.youtube.videos.titleCreatePlaylist"|trans }}
                </div>
                <form class="col-xs-12">
                    <div class="col-xs-6 part">
                        <input type="text" value="{{ "dashboard.youtube.createPlaylist.name"|trans }}">
                        <br/>
                        <input type="text" value="{{ "dashboard.youtube.createPlaylist.description"|trans }}">
                    </div>
                    <div class="col-xs-6 part">
                        <span class="custom-dropdown custom-dropdown--white">
                            <select class="type-list-start custom-dropdown__select custom-dropdown__select--white">
                                <option value="{{ "dashboard.youtube.createPlaylist.public"|trans }}">{{ "dashboard.youtube.createPlaylist.publicLabel"|trans }}</option>
                                <option value="{{ "dashboard.youtube.createPlaylist.private"|trans }}">{{ "dashboard.youtube.createPlaylist.privateLabel"|trans }}</option>
                            </select>
                        </span>
                        <br/>
                        <input type="submit" value="{{ "dashboard.youtube.createPlaylist.create"|trans }}">
                    </div>
                </form>
            </div>
            <div class="col-xs-12 horizontal-part">
                <div class="title col-xs-12">
                    Playlist 1
                </div>
                <div class="container container-videos">
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 horizontal-part">
                <div class="title col-xs-12">
                    Playlist 2
                </div>
                <div class="container container-videos">
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                    <div class="parts">
                        <div class="image col-xs-12">
                            <img src="{{ asset('img/dashboard/youtube/thumbnail.jpg') }}" alt="">
                        </div>
                        <div class="name col-xs-12">
                            Titre de la vidéo
                        </div>
                        <button class="button video-link-popin" data-link="uzJWugjchhQ">Voir la vidéo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-youtube">
        <div class="close button">
            Fermer
        </div>
        <div class="video">
            <iframe width="420" height="315" id="video-popin" src="">
            </iframe>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard/youtube.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/overlay/popinyoutube.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
{% endblock %}