{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-transfer">
        <div class="container-tab">
            <div class="thumbnails CONTAINER">
                <div class="col-xs-12 item active" style="text-align:center">Transferer vos données</div>
            </div>
            <div class="content">
                <div class="content-thumb active container">
                    <div class="title">
                        Selectionner 2 plateformes
                    </div>
                    <div class="col-xs-12 container choice-plaform">
                        <div class="col-xs-4">
                            <label>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select id="plateform-choice" class="type-list-start custom-dropdown__select custom-dropdown__select--white">
                                        <option value="deezer">Deezer</option>
                                        <option value="youtube">Youtube</option>
                                        <option value="spotify">Spotify</option>
                                    </select>
                                </span>
                            </label>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#plateform-choice").on('change', function(){
                                        var playlist = $(this).val();
                                        var url = '{{ path('transfer_getplaylists', {'playlist': 'playlist-placeholder'}) }}';
                                        url = url.replace('placeholder-placeholder', playlist);
                                        $.ajax({
                                            type:'GET',
                                            url: url,
                                            data: {playlist: $(this).val()},
                                            success: function(view) {
                                                $('.playlists-choices').html(view);
                                            }
                                        })
                                    })
                                });
                            </script>
                        </div>
                        <div class="col-xs-4">
                            <div class="playlists-choices">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white">
                                        <option value="video">Youtube</option>
                                        <option value="music">Spotify</option>
                                        <option value="music">Deezer</option>
                                    </select>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 container logs">
                        <span class="button launch-transfer">Lancer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/transfer.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/type.js') }}"></script>
{% endblock %}