{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-transfer">
        <div class="col-xs-4 offset-xs-4 container-center">
            <div class="col-xs-12 title">
                {{ "transfer.title"|trans }}
            </div>
            <div class="advice">
                {{ "transfer.selection.title"|trans }}
            </div>
            <div class="part container">
                {{ include('transfer/steps/1_start_plateform.html.twig')  }}
            </div>
            <div class="part container">
                {{ include('transfer/steps/2_transfer_types.html.twig')  }}
            </div>
            <div class="part container">
                {{ include('transfer/steps/3_playlists_select.html.twig')  }}
            </div>
            <div class="part container">
                {{ include('transfer/steps/4_end_plateform.html.twig')  }}
            </div>
            <div class="part container">
                {{ include('transfer/steps/5_transfer.html.twig')  }}
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/transfer.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global/container_tabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/1_start_platform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/2_data.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/3_playlist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/4_end_platform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/transfer/5_transfer.js') }}"></script>
{% endblock %}