{% extends 'base.html.twig' %}

{% block body %}
<div id="container-search">
    {{ render(controller('AppBundle:LastFM:getLastFMInfos',{"keyword":keyword})) }}
    {{ include('search/searchSoundcloud.html.twig') }}
    {{ render(controller('AppBundle:Youtube:getYoutubeVideo',{"keyword":keyword})) }}
    {{ include('search/searchAlbums.html.twig') }}
</div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}" />
{% endblock %}
