{% extends 'base.html.twig' %}
{% block title %}{{ keyword }}{% endblock %}
{% block body %}
<div id="container-search">
    {{ render(controller('AppBundle:LastFM:getLastFMInfos',{"keyword":keyword})) }}
    <div class="container-music-youtube container">
        <div class="col-xs-6 part music">
            {% if app.user.credentials.spotifyToken != null and app.user.spotifyPrefered %}
                {{ render(controller('AppBundle:Spotify:getSpotifySong',{"keyword":keyword})) }}
            {% elseif app.user.credentials.deezerToken != null and app.user.deezerPrefered %}
                {{ render(controller('AppBundle:Deezer:getTopSong',{"keyword":keyword})) }}
            {% else %}
                <div class="noconnect">
                    <div class="details">
                        {{ "search.spotifyDeezer.notConnected"|trans }}
                    </div>
                    <div class="images">
                        <img src="{{ asset('img/logo/deezer.png') }}" alt="Logo Deezer">
                        <img src="{{ asset('img/logo/spotify.png') }}" alt="Logo Spotify">
                    </div>
                    <a class="button" href="{{ path('account') }}">{{ "account.platforms.connect"|trans }}</a>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-6 part youtube">
            {% if app.user.credentials.youtubeToken != null %}
                {{ render(controller('AppBundle:Youtube:getYoutubeVideo',{"keyword":keyword})) }}
            {% else %}
                <div class="noconnect">
                    <div class="details">
                        {{ "search.youtube.notConnected"|trans }}
                    </div>
                    <div class="images">
                        <img src="{{ asset('img/logo/youtube.png') }}" alt="Logo Youtube">
                    </div>
                    <a class="button" href="{{ path('account') }}">{{ "account.platforms.connect"|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    {{ render(controller('AppBundle:LastFM:getTopAlbums',{"keyword":keyword})) }}
    <div class="overlay-youtube">
        <div class="close button video-link-popin">
            Fermer
        </div>
        <div class="video" id="overlay-video">
        </div>
    </div>
    <div id="overlay-add-playlist" class="overlay-add-playlist">

    </div>
</div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var url_get_song_from_album = '{{ path('search_song_album') }}';
        var urlGetSong = '{{ path('search_track') }}';
        var url_get_playlists = '{{ path('get_playList_for_platform') }}';
        {% if app.user.spotifyPrefered %}
            var prefered_plateform = 'spotify';
        {% elseif app.user.deezerPrefered %}
            var prefered_plateform = 'deezer';
        {% else %}
            var prefered_plateform = 'noconnexion';
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('js/overlay/popinyoutube.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/search/album.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global/playTrack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global/addToPlaylist.js') }}"></script>
{% endblock %}
