<div class="container-albums container">
    <div class="images">
        {% for album in albums %}
            <div class="container-album get-music-album" data-artist="{{ artist }}" data-album="{{ album['name'] }}">
                <img src="{{ album['image'][1]['#text'] }}" alt="{{ album['name'] }}">
                <br/>
                <span class="searchAlbumTitle">{{ album['name'] }}</span>
            </div>
        {% else %}
            {{ "search.lastFM.noTopAlbums"|trans }}
        {% endfor %}
    </div>
    {% if albums|length != 0 and (app.user.credentials.spotifyToken != null or app.user.credentials.deezerToken) %}
        <div class="music song-album-list">
            Choisir un album pour afficher les morceaux...
        </div>
    {% endif %}
</div>
