
<div class="main-icon icon">
    <img src="{{ asset('img/search/deezer.png') }}" alt="Logo Deezer">
</div>
<div class="list">
    {% for item in musics %}
        <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
            <div class="actions col-xs-1">
                <span title="Ajouter à une playlist" class="add-to-playlist" data-type="deezer" data-name="{{ item.title }}" data-id="{{ item.id }}">
                    +
                </span>
            </div>
            <div class="actions col-xs-1">
                <span title="Ecouter la musique" class="playTrack" data-song-id="{{ item.id }}" data-platform="deezer">
                    ►
                </span>
            </div>
            <div class="content col-xs-10">
                <div class="name">
                    <span class="artist">{{ item.title|truncate(50, true, '...')  }}</span>
                </div>
                <div class="details">
                    {{ item.album.title|truncate(75, true, '...') }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Deezer
        </div>
    {% endfor %}
</div>