
<div class="main-icon icon">
    <img src="{{ asset('img/logo/deezer.png') }}" alt="">
</div>
<div class="list">
    {% for item in musics %}
        <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">{{ item.artist.name }}</span>
                    -
                    <span class="song">{{ item.title }}</span>
                </div>
                <div class="details">
                    {{ item.album.title }}
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Deezer
        </div>
    {% endfor %}
</div>