
<div class="main-icon icon">
    <img src="{{ asset('img/search/spotify.png') }}" alt="">
</div>
<div class="list">
    {% if musics != false %}
        {% for items in musics %}
            {% for key, item in items %}
            <div class="{% if loop.index is even %}item {% else %} item odd {% endif %} playTrack" data-song-id="{{ item.id }}" data-platform="spotify">
                <div class="play col-xs-3">
                    <span class="add-to-playlist" data-type="spotify" data-idsong="1">
                        Ajouter playlist
                    </span>
                </div>
                <div class="play col-xs-3">
                    <img src="{{ asset('img/search/play.png') }}" alt="">
                </div>
                <div class="content col-xs-9">
                    <div class="name">
                        <span class="song">{{ item.name|truncate(50, true, '...') }}</span>
                    </div>
                    <div class="details">
                        {{ item.album.name|truncate(75, true, '...') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Spotify
        </div>
    {% endif %}
</div>