
<div class="main-icon icon">
    <img src="{{ asset('img/search/spotify.png') }}" alt="Logo recherche Spotify">
</div>
<div class="list">
    {% if musics != false %}
        {% for items in musics %}
            {% for key, item in items %}
            <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
                <div class="actions col-xs-1">
                    <span title="Ajouter à une playlist" class="add-to-playlist" data-type="spotify" data-name="{{ item.name }}" data-id="{{ item.id }}">
                        +
                    </span>
                </div>
                <div class="actions col-xs-1">
                    <span title="Ecouter la musique" class="playTrack" data-song-id="{{ item.id }}" data-platform="spotify">
                        ►
                    </span>
                </div>
                <div class="content col-xs-10">
                    <div class="name">
                        <span class="song">{{ item.name|truncate(50, true, '...') }}</span>
                    </div>
                    <div class="details">
                        {{ item.album.name|truncate(75, true, '...') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="value-search no-result">
            Votre recherche n'as renvoyé aucun résultat Spotify
            <br/>
            Vérifiez ici que vous êtes bien connecté
            <br/>
            <a class="button"  href="{{ path("account") }}">
                Mon compte
            </a>
        </div>
    {% endif %}
</div>