<div class="container-albums container">
    <div class="images">
        <div class="container-album">
            <img src="{{ asset('img/search/album.jpg') }}" alt="">
        </div>
        <div class="container-album">
            <img src="{{ asset('img/search/album.jpg') }}" alt="">
        </div>
        <div class="container-album">
            <img src="{{ asset('img/search/album.jpg') }}" alt="">
        </div>
        <div class="container-album">
            <img src="{{ asset('img/search/album.jpg') }}" alt="">
        </div>
        <div class="container-album">
            <img src="{{ asset('img/search/album.jpg') }}" alt="">
        </div>
    </div>
    <div class="music">
        Choisir un album pour afficher les morceaux...
    </div>
</div>