<div class="soundcloud container">
    <div class="main-icon">
        <img src="{{ asset('img/search/soundcloud.png') }}" alt="">
    </div>
    <div class="list">
        <div class="item">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item odd">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item odd">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item odd">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
        <div class="item odd">
            <div class="play">
                <img src="{{ asset('img/search/play.png') }}" alt="">
            </div>
            <div class="content">
                <div class="name">
                    <span class="artist">Franck Sinatra</span>
                    -
                    <span class="song">My Funny Valentine</span>
                </div>
                <div class="details">
                    3515 écoutes
                </div>
            </div>
            <div class="actions">
                <img src="{{ asset('img/search/icon-like-song.png') }}" alt="">
                <img src="{{ asset('img/search/icon-addplaylist-song.png') }}" alt="">
            </div>
        </div>
    </div>
</div>