
<div class="main-icon icon">
    <img src="{{ asset('img/search/youtube.png') }}" alt="Logo recherche Youtube">
</div>
<div class="list">
    {% if searches != false %}
        {% for items in searches %}
            <div class="{% if loop.index is even %}item {% else %} item odd {% endif %}">
                {% for key, item in items %}
                    <div class="image col-xs-4">
                        <img src="{{ item.snippet["thumbnails"]["default"]["url"] }}"
                             alt="{{ item.snippet["title"] }}">
                    </div>
                    <div class="content col-xs-8">
                        <div class="name">
                            <span class="artist">{{ item.snippet["title"] }}</span>
                        </div>
                        <div class="details">
                            {{ item.statistics["viewCount"] }} Vues
                            <img src="{{ asset('img/search/youtube-like.png') }}" alt="Icone Youtube like">
                            {% if  item.statistics["likeCount"]  is defined %}
                                {{ item.statistics["likeCount"] }}
                            {% else %}
                                0
                            {% endif %}
                            <img src="{{ asset('img/search/youtube-dislike.png') }}" alt="Icone Youtube dislike">
                            {% if item.statistics["dislikeCount"] is defined %}
                                {{ item.statistics["dislikeCount"] }}
                            {% else %}
                                0
                            {% endif %}
                            <br/>
                            <span class="video-link-popin button" data-link="{{ item["id"] }}">
                                ► Regarder la vidéo
                            </span>
                            <span class="button add-to-playlist" data-type="youtube" data-name="{{ item.snippet["title"] }}" data-id="{{ item.id }}">
                                + Ajouter à une playlist
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="value-search">
            Votre recherche n'as renvoyé aucun résultat Youtube
        </div>
    {% endif %}
</div>